<%# 続いて、app/views/articles/edit.html.erbを新規作成し、以下のように編集しましょう。「編集しましょう」と言いましたが、実はnew.html.erbをただ貼り付けただけです。 %>
<%= form_with model: @article, url: articles_path do |f| %>
  <div class="top-wrapper">
    <label>
      <div class="thumbnail">サムネ画像を選択</div>
      <%= f.file_field :thumbnail, class:"input-thumb" %>
    </label>
    <div class="input-wrapper">
      <%= f.text_field :title,    placeholder: "タイトル" %>
      <%= f.text_field :abstract, placeholder: "記事概要" %>
      <%= f.text_field :tag,     placeholder: "タグ" %>
    </div>
  </div>
  <div class="middle-wrapper">
    <%= f.text_area :body, class:"body input-area" %>
        <div id="preview" class="input-area"></div>
    <%# <%= f.text_area :preview, id:"preview", disabled: true %>
  </div>

    <%# 19~24行目を追加しました。今までform_withでf.text_fieldやfile_fieldなどを使ってきましたが、ここで新しくfields_forというのが出てきました。これはform_withの中にさらに別モデルのform_withを作る、という感じのことをやっています。大元のform_withではarticleモデルについて取り扱っていましたが、この中でさらにimageモデルを扱うimagesテーブルに書き込むためにこのfields_forというのを使います。 %>
  <div class="bottom-wrapper">
    <%= f.fields_for :images do |i| %>
        <label class="image_fields">
            <div class="image-button">画像を挿入</div>
            <%= i.file_field :image %>
        </label>
    <% end %>
    <%= f.submit "投稿する" %>
  </div>
<% end %>