<h2>Articles#show</h2>

<%# 3~6行目を追加しました。お馴染みになってきたif文で、記事投稿者本人が閲覧している場合のみ削除ボタンを表示するように指定しています。また、ついでに編集ボタンも追加しておきました。では早速、削除ボタンを押してみましょう。 %>
<% if current_user.id == @article.user_id %>
    <p><%= link_to "記事を編集する", edit_article_path(@article.id) %></p>
    <p><%= link_to "記事を削除する", article_path, method: "delete" %></p>
<% end %>

<p>タグ:
  <% TagArticle.where(article: @article.id).each do |t| %>
    <%= link_to t.tag.name, tag_path(t.tag.id) %>
  <% end %>
</p>

<p>サムネイル:<%= @article.thumbnail%></p>
<p>タイトル:<%= @article.title%></p>
<p>概要:<%= @article.abstract%></p>
<%# <p>本文:<%= @article.body%></p> %>
<p>本文:<%= markdown(@article.body) %></p>

<%# 19行目で未いいねの場合といいね済みの場合の処理を分けています。また、24行目では@article.likes.countという記述によっていいね数を表示しています。 %>
<% if user_signed_in? %>
  <button id="like-button" action="<%= "/articles/#{@article.id}/like" %>">
    <% if Like.find_by(user: current_user.id, article: @article.id) == nil %>
      <span id="like-text">いいね！</span>
    <% else %>
      <span id="like-text">いいね済</span>
    <% end %>
    <span id="like-number"><%= @article.likes.count %></span>
  </button>
<% end %>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= @article.title %>" data-lang="ja" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<span id="fb-root"></span>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0" nonce="1LcNqGCu"></script>
<span class="fb-share-button" data-href="<%= request.url %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></span>