<%# コードが長いですが見るべきところは1~5行目と8行目だけです。1~5行目ではactionPathという変数を「アクションがnewなら、article"s"_path」「editならarticle_path」にするよ、と書いてあるだけです。そして8行目です。url:という部分には先ほどの分岐で決定される変数「actionPath」が記載されています。このurl:という記述の意味ですが、form_withで生成した「投稿するボタン」が押された後に起動させるアクションのURLを指定するための記述です。
article"s"_pathならcreateのアクションが起動され、article_pathならupdateアクションが起動されます。newはcreateと、editはupdateと対応させる必要があるので、このような分岐が必要なのです。
さて、_form.html.erbを作成しましたが、これが「部分テンプレート」と呼ばれるファイルです。あとは、この部分テンプレートをnew、editそれぞれのビューから読み込む必要があります。new、editの中身をそれぞれ白紙にして、以下のコードを貼り付けてください。 %>

<%# まず1行目では、今までアクションの分岐に使っていた"#{controller.controller_name}##{controller.action_name}"という記述がちょっと冗長になってきたので、actionNameという変数にまとめました。また、3~10行目ではarticles#create、articles#update、drafts#updateの各アクションのパスをactionPathという変数に代入し、これを13行目のform_withでurl:actionPathとして呼び出しています。 %>
<% actionName = "#{controller.controller_name}##{controller.action_name}" %>

<% if actionName == "articles#new" %>
  <% actionPath = articles_path %>
<% elsif actionName == "articles#edit" %>
  <% actionPath = article_path %>
<% elsif actionName == "drafts#edit" %>
  <% actionPath = draft_path %>
  <% @article = @draft %>
<% end %>

<div id="header" action="<%= actionName %>" <% if actionName == "articles#edit" || actionName == "drafts#edit" %>thumbnail ="<%= @article.thumbnail%>"<% end %>></div>
<%= form_with model: @article, url: actionPath, id: "article_form" do |f| %>
  <div class="top-wrapper">
    <label>
      <div class="thumbnail">サムネ画像を選択</div>
      <%= f.file_field :thumbnail, class:"input-thumb" %>
    </label>
    <div class="input-wrapper">
      <%= f.text_field :title,    placeholder: "タイトル" %>
      <%= f.text_field :abstract, placeholder: "記事概要" %>
      <% if "#{controller.controller_name}##{controller.action_name}" == "articles#new"%>
        <%= f.text_field :tag,    placeholder: "タグ" %>
      <% elsif "#{controller.controller_name}##{controller.action_name}" == "articles#edit"%>
        <%= f.text_field :tag,    placeholder: "タグ" , value: @tag %>
      <% end %>
    </div>
  </div>
  <div class="middle-wrapper">
    <%= f.text_area :body, class:"body input-area" %>
    <div id="preview" class="input-area"></div>
  </div>
  <div class="bottom-wrapper">
    <% if "#{controller.controller_name}##{controller.action_name}" == "articles#new"%>
      <%= f.fields_for :images do |i|%>
        <label class="image_fields">
          <div class="image-button">画像を挿入</div>
          <%= i.file_field :image %>
        </label>
      <% end %>
    <% end %>

    <%# 8行目、37~42行目を修正しました。8行目は、この後のJavaScriptの処理で必要なので"article_form"というidを追加しています。また、37~42行目の修正によって下書き保存ボタンが生成されます。 %>
    <div class="submit-btn">
      <% if "#{controller.controller_name}##{controller.action_name}" == "articles#new" %>
        <%= f.submit "下書き保存" , id: "draft" %>
      <% end %>
    <%= f.submit "投稿する" %>
    </div>
  </div>
<% end %>