<%# コードが長いですが見るべきところは1~5行目と8行目だけです。1~5行目ではactionPathという変数を「アクションがnewなら、article"s"_path」「editならarticle_path」にするよ、と書いてあるだけです。そして8行目です。url:という部分には先ほどの分岐で決定される変数「actionPath」が記載されています。このurl:という記述の意味ですが、form_withで生成した「投稿するボタン」が押された後に起動させるアクションのURLを指定するための記述です。
article"s"_pathならcreateのアクションが起動され、article_pathならupdateアクションが起動されます。newはcreateと、editはupdateと対応させる必要があるので、このような分岐が必要なのです。
さて、_form.html.erbを作成しましたが、これが「部分テンプレート」と呼ばれるファイルです。あとは、この部分テンプレートをnew、editそれぞれのビューから読み込む必要があります。new、editの中身をそれぞれ白紙にして、以下のコードを貼り付けてください。 %>

<% if "#{controller.controller_name}##{controller.action_name}" == "articles#new" %>
    <% actionPath = aritcles_path %>
<% elsif "#{controller.controller_name}##{controller.action_name}" == "articles#edit" %>
    <% actionPath = article_path %>
<% end %>

<div id="header" action="<%= "#{controller.controller_name}##{controller.action_name}" %>" <% if "#{controller.controller_name}##{controller.action_name}" == "articles#edit" %>thumbnail ="<%= @article.thumbnail %>"<% end %>></div>

<%= form_with model: @article, url: actionPath do |f| %>
    <div class="top-wrapper">
        <label>
            <div class="thumbnail">サムネ画像を選択</div>
            <%= f.file_field :thumbnail, class:"input-thumb" %>
        </label>
        <div class="input-wrapper">
            <%= f.text_field :title, placeholder: "タイトル" %>
            <%= f.text_field :abstract, placeholder: "記事概要" %>
            <%= f.text_field :tag, placeholder: "タグ" %>
        </div>
    </div>
    <div class="middle-wrapper">
        <%= f.text_area :body, class: "body input-area" %>
        <div id="preview" class="input-area"></div>
    </div>
    <div class="bottom-wrapper">
        <%= if "#{controller.controller_name}##{controller.action_name}" == "articles#new" %>
            <%= f.fields_for :images do |i| %>
                <label class="image_fields">
                    <div class="image-button">画像を投入</div>
                    <%= i.file_field :image %>
                </label>
            <% end %>
        <% end %>
        <%= f.submit"投稿する" %>
    </div>
<% end %>